*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*

.svn/
obj/
bin/
build/
!data/
capture/emptyExample.xcodeproj/project.xcworkspace/xcuserdata/aaron.xcuserdatad/UserInterfaceState.xcuserstate

capture/emptyExample.xcodeproj/project.xcworkspace/xcuserdata/aaron.xcuserdatad/UserInterfaceState.xcuserstate

viz/emptyExample.xcodeproj/project.xcworkspace/xcuserdata/aaron.xcuserdatad/UserInterfaceState.xcuserstate
